body {
    font-family: 'Kanit', sans-serif;
    background-color: #8ECAE6;
}
#con {
    background-color: red;
}

.Hello {
    background-color: red;
}

#headerbrand {
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    width: 5%;
    margin-left: 300px;
}

#pic1{
    width: 200px;
}

.edit-h1 {
    color: #023047;
    border-color: #023047;
    border-radius: 1rem;
    background-color: #FFB703;
}

#edit-container {
    width: 700px;
}