{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block comment %}
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9">
                <div class="container">
                    <h5 class="text-center">ความคิดเห็นของผู้ชม</h5>
                    <div class="text-center mb-3">
                        ความคิดเห็นลำดับที่
                        {{ page.start_index }} - {{ page.end_index }}
                    </div>
                    {% for gb in page %}
                        <div class="container">
                            {{ gb.message }}
                        </div>
                        <div class="container">
                            {{ gb.name }}
                        </div>
                        {{ gb.date|thaidate }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}