{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block comment %}
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-9">
            <form method ="post">
                <br>
                <h5 class="text-center">แสดงความคิดเห็นในGuestbook</h5>
                <br>
                {% if err_msg != None %}
                    <div class="text-danger text-center">
                        {{ err_msg }}
                    </div>
                    <br>
                {% endif %}
        
                {% csrf_token %}
                {{ form|crispy }}
                <br>
        
                <p class="text-center">
                    <button class="btn btn-primary">ตกลง</button>
                    <br><br>
                    <a href="{% url 'index' %}">ยกเลิก</a>
                </p>
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock %}