{% extends 'main.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block comment %}
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9">
                <form method="post" class="mt-3">
                    {% if err_msg != None %}
                        <div class="text-danger text-center">
                            {{ err_msg }}
                        </div>
                        <br>
                    {% endif %}
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <button class="btn btn-primary">ส่ง</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}


