{% extends 'layout.html' %}
{% load static %}
{% load humanize %}


{% block content %}
<div class="col-md-9 border">
    <div class="container-fluid" >  
        <div class="row">
            {% for n in blogs %}
            <div class="col-sm-4 mt-5 shadow">
                <h4 class="text-primary fw-bold text-center pt-3 ">{{ n.name }}</h2>
                <a href="{% url 'searchCategory' n.id %}"><img class="card-img-top overflow-hidden img-fluid" src="{{ n.images.url}}" style="max-height: 250px;" ></a>
                <a href="#" class="fw-bold text-center">หมวดหมู่ : {{ n.category }}</a>
            </div>  
            <div class=" container col-sm-8 py-3"id="container-content-searchcategory"> 
                <div class="container-md mt-3">
                    <a class= "text-decoration-none text-dark text-end fst-italic" href="{% url 'searchCategory' n.id %}"><h4>{{ n.description}}</h4></a>
                    <div class="container-sm overflow-hidden"style="height: 300px;">
                        <a class= "text-decoration-none text-dark" href="{% url 'searchCategory' n.id %}"><p> {{ n.content|safe }} </p></a>
                    </div>
                    <a class= "text-decoration-none text-dark" href="{% url 'searchCategory' n.id %}"><button class="btn btn-primary">รายละอียดเพิ่มเติม</button></a> <span class="badge bg-warning">by {{ n.writer}}</span><span class="badge bg-danger"> {{ n.created }}</span><span class="badge bg-dark text-white">view : {{ n.views }}</span>       
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}