{% extends 'layout.html' %}
{% load humanize %}


{% block content %}
<div class="col-md-9">
    <div class="container-fluid border">  
        <div class="row">
            {% for n in blog %}
            <div class="col-4 my-3">
                <h2 class="text-primary fw-bold text-center ">{{ n.name }}</h2>
                <h5 class="badge bg-warning my-0">หมวดหมู่ : {{ n.category }}</h5>
                <img class="card-img-top img-thumbnail overflow-hidden" src="{{ n.images.url}}" style="max-height: 250px;" >  
            </div>  
            <div class=" blog-meta col-8 py-3 "> 
                <h4>{{ n.description}}</h4>
                <p class="overflow-hidden" style="height: 200px;"> {{ n.content }} </p>
                <a href="{% url 'blogdetail' n.id %}"> รายละเอียดทั้งหมด</a>
                <small class="firstsmall"><a href="#" title="" class="text-decoration-none"> by {{ n.writer }} / </a></small>   
                <small><a href="#" title="" class="text-decoration-none"> {{ n.created }} /</a></small> 
                <small><a href="#" title="" class="text-decoration-none"><i class="fa fa-eye"></i> {{ n.views|intcomma }} /</a></small>
            </div>
            {% endfor %}
        </div>        
    </div>
</div>


{% endblock %}